.left-content-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 12px 15px;
  border-radius: var(--box-radius);
  width: 100%;
  flex: 1;
}

.component-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
